# ***Ejercicio BASE DE DATOS¶***

1er Ejercicio

In [ ]:
SELECT * FROM employees;

2do Ejercicio

In [ ]:
SELECT * FROM departments;

3er Ejercicio

In [ ]:
SELECT COUNT(*) 
FROM employees 
WHERE gender ='F';

4to Ejercicio

In [ ]:
SELECT e.emp_no, birth_date, first_name, last_name, gender, hire_date 
FROM employees AS e 
JOIN titles AS t ON e.emp_no = t.emp_no 
WHERE t.title = 'Staff'

5to Ejercicio

In [ ]:
INSERT INTO departments (dept_name)
VALUES ("Ciencia de Datos");

6to Ejercicio

In [ ]:
INSERT INTO employees (first_name, last_name, category, department)
VALUES ("Pepe", "Argento", "Manager", "Ciencia de Datos");

7mo Ejercicio

In [ ]:
DELETE FROM employees 
WHERE first_name = 'Pepe';

8vo Ejercicio

In [ ]:
SELECT departments.dept_name as depts,
AVG(salaries.salary) as avg_salary 
FROM departments  LEFT JOIN dept_emp
ON dept_emp.dept_no = departments.dept_no 
LEFT JOIN employees 
ON dept_emp.emp_no = employees.emp_no 
LEFT JOIN salaries 
ON salaries.emp_no = employees.emp_no 
GROUP BY departments.dept_name;

# ***9 Ejercicio***

Compartir el código en Python para crear en MongoDB una base de datos denominada "weatherHistory" y una colección con el mismo nombre. Cargar los datos del archivo csv denominado weatherHistory.csv

In [ ]:
#Imports
!python -m pip install pymongo==3.7.2
import pymongo
import pandas as pd

Collecting pymongo==3.7.2
  Downloading pymongo-3.7.2-cp37-cp37m-manylinux1_x86_64.whl (406 kB)
     |████████████████████████████████| 406 kB 5.3 MB/s
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 3.12.0
    Uninstalling pymongo-3.12.0:
      Successfully uninstalled pymongo-3.12.0
Successfully installed pymongo-3.7.2

In [ ]:
#Conexión a MongoDB
uri = 'mongodb://u8uqxyau2gcuf6kjcr6h:Ce0fmc6MYDdmEGtSdC3b@beltqgh7fx6sbpu-mongodb.services.clever-cloud.com:27017/beltqgh7fx6sbpu'
client = pymongo.MongoClient(uri, 27017)
db = client.beltqgh7fx6sbpu
client.stats
client.list_database_names()
#Leemos el csv
with open('weatherHistory.csv') as finput:
  data = finput.readlines()
  #Quitamos los encabezamos y los agregamos a una variable
  column_names = data.pop(0).split(',')
  data_dict = []
  #Recorremos el archivo mientras se insertan
  for line in data:
    row_list =line.rstrip('\n').split(',')
    row_dict = dict(zip(column_names,row_list))
    data_dict.append(row_dict)
finput.close()
collection.insert_many(data_dict)
client.list_database_names()

In [ ]:

print(collection.count_documents({}))

# ***10 Ejercicio***

Compartir el código en en Python que devuelva la cantidad de registros insertados en la colección anterior.

In [ ]:
collection.estimated_document_count()